<div class="container">
  <navbar></navbar>

  <div class="container-title text-center mb-5">
    <h1 class="font-nixie-one text-white mt-5">
      You can't buy <span class="font-norican word-love">love!</span>
    </h1>
  </div>

  <div class="flex-wrap d-flex" id="pets" *ngIf="dogs; else loading">
    <card-dog
      *ngFor="let dog of dogs; let i = index"
      [dog]="dog"
      class="col-12 col-sm-2 col-md-6"
    ></card-dog>
  </div>
</div>

<ng-template #loading>
  <loading></loading>
</ng-template>
