<div class="main-container mx-auto mt-5">
  <h1 class="my-4">Create a new article</h1>
  <form
    [formGroup]="articleForm"
    (ngSubmit)="articleForm.valid && onSubmitForm()"
  >
    <div>
      <input
        class="input-form"
        type="text"
        placeholder="Title"
        formControlName="title"
        [ngClass]="{
          'border-danger':
            articleForm.get('title').touched && articleForm.get('title').errors
        }"
      />
    </div>
    <div
      *ngIf="
        articleForm.get('title').touched && articleForm.get('title').errors
      "
      class="text-danger text-left mt-2 ml-2 validators"
    >
      Title is mandatory
    </div>
    <div>
      <textarea
        class="input-form"
        rows="3"
        placeholder="Description"
        formControlName="description"
        [ngClass]="{
          'border-danger':
            articleForm.get('description').touched &&
            articleForm.get('description').errors
        }"
      >
      </textarea>
    </div>
    <div
      *ngIf="
        articleForm.get('description').touched &&
        articleForm.get('description').errors
      "
      class="text-danger text-left mt-2 ml-2 validators"
    >
      Description is mandatory
    </div>

    <input
      class="input-form"
      type="file"
      #fileDropRef
      id="fileDropRef"
      accept="image/*;capture=camera"
      (change)="onImageAdded($event)"
    />

    <button type="submit" [disabled]="isLoading">Add it</button>

    <label for="file">File:</label>
    <input type="file" (change)="upload($event)" accept=".png,.jpg" />
    <button (click)="uploadImage()">Upload Image</button>
  </form>

  <div class="progress">
    <div
      class="progress-bar progress-bar-striped bg-success"
      role="progressbar"
      [style.width]="(uploadProgress | async) + '%'"
      [attr.aria-valuenow]="uploadProgress | async"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>

  <div
    *ngIf="downloadURL | async; let downloadSrc"
    class="alert alert-info"
    role="alert"
  >
    File uploaded:
    <img [src]="downloadSrc" class="img-fluid" />
  </div>

  <div class="btn-group" role="group" *ngIf="uploadState | async; let state">
    <button
      type="button"
      class="btn btn-primary"
      (click)="task.pause()"
      [disabled]="state === 'paused'"
    >
      Pause
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="task.cancel()"
      [disabled]="!(state === 'paused' || state === 'running')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="task.resume()"
      [disabled]="state === 'running'"
    >
      Resume
    </button>
  </div>
</div>
