/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: #0d324d !important;
  font-family: "Montserrat", sans-serif !important;
}

.main-container {
  width: 50%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Vollkorn", serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

.font-nixie-one {
  font-family: "Nixie One", cursive;
}

.font-handlee {
  font-family: "Handlee", cursive;
}

.font-norican {
  font-family: "Norican";
}

html {
  scroll-behavior: smooth;
}

.cursor-pointer {
  cursor: pointer;
}

.capitalize-first-letter:first-letter {
  text-transform: capitalize;
}

.text-limit {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  background-color: white;
  color: black;
  border-radius: 10px !important;
  border: 0;
  outline: none;
}
