.input-form {
  margin: 5px auto;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  outline: none;
}

.container {
  min-height: 100vh;
}

.img-preview {
  height: 200px;
  max-height: 200px;
  width: 300px;
}

.img-fluid {
  max-height: 200px;
}
